@import url('https://fonts.googleapis.com/css2?family=Trykker&display=swap');

body {
	font-family: "Trykker", serif;
}

h2 {
	font-size: 350%;
}


.pisen {
                        display: flex;
                        font-size: 200%;
                    }

                    .sloupec {
                        flex: 1;
                        /* Space between columns */
                        margin: 0 15px;

                        /* Layout each column */
                        display: flex;
                        flex-direction: column;
                    }

                    .sloka {
                        /* Take available height */
                        flex: 1;
                        
                    }
